# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment variables
.env

# Flask
instance/
.webassets-cache
flask_session/

# Vercel
.vercel

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
